table.TopicComponentList {
  width: 100%;
}

table.TopicComponentList td {
  padding: 4px 0;
}

table.TopicComponentList .Avatar {
  width: 40px;
}

table.TopicComponentList .TopicRow .TopicRow-author {
  width: 6%;
}

table.TopicComponentList .TopicRow .TopicRow-responder {
  width: 18%;
}

table.TopicComponentList .TopicRow .TopicRow-lastResponseDate {
  width: 15%;
}

table.TopicComponentList .TopicRow.TopicRow--individual .TopicRow-content {
  padding-top: 0;
}

@media (max-width: 900px) {
  table.TopicComponentList .TopicRow .TopicRow-author,
  table.TopicComponentList .TopicRow .TopicRow-lastResponseDate,
  table.TopicComponentList .TopicRow .TopicRow-responder {
    width: auto;
  }
}

@media (max-width: 450px) {
  table.TopicComponentList td {
    padding: 8px 0;
  }
}
