{#
  Required variables:
    - form_path
    - user (from related templates)
    - board (from parent template)
    - form
    - message (can be null)
#}

{% extends "TeapotioBaseForumBundle:Topic:base/content.html.twig" %}

{% block topic_prefix %}
  {{ form_errors(form) }}

  <form action="{% block form_path %}{% endblock %}" method="post" class="{% block form_class %}form-new-topic{% endblock %}" {{ form_enctype(form) }}>
{% endblock %}

{% block topic_suffix %}
  </form>
{% endblock %}


{% block topic_header_content %}
  <div class="topic-title">
    {{ form_widget(form.title, {attr: {placeholder: "Title"|trans }}) }}
  </div>
{% endblock %}


{% block topic_body %}

  {% include "TeapotioForumBundle:Topic:modules/formBody.html.twig" with {form: form, message: message} %}

  {{ form_rest(form) }} {# outputs the rest of the form #}
{% endblock %}
