.Footer.Footer--global {
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}

.Footer.Footer--global .Footer-poweredBy,
.Footer.Footer--global .Footer-accounts,
.Footer.Footer--global .Footer-accounts-account {
  display: inline-block;
  vertical-align: top;
}

.Footer.Footer--global .Footer-poweredBy:after,
.Footer.Footer--global .Footer-poweredBy:before {
  content: ' ';
  display: inline-block;
  line-height: 44px;
  vertical-align: top;
}

.Footer.Footer--global .Footer-accounts-account,
.Footer.Footer--global .Footer-poweredBy:before {
  line-height: 64px;
}

.Footer.Footer--global .Footer-accounts-account a:before,
.Footer.Footer--global .Footer-poweredBy:before {
  content: '\f0e7';
  font-family: FontAwesome;
  font-size: 40px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Footer.Footer--global .Footer-poweredBy:hover {
  text-decoration: none;
}

.Footer.Footer--global .Footer-poweredBy:after {
  background: url(/bundles/teapotiosite/images/teapotio_logo.png) no-repeat;
  background-size: contain;
  height: 64px;
  margin: 0 10px;
  width: 64px;
}

.Footer.Footer--global .Footer-accounts {
  margin-left: 20px;
}

.Footer.Footer--global .Footer-accounts-account a,
.Footer.Footer--global .Footer-accounts-account a:before {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 36px;
}

.Footer.Footer--global .Footer-accounts-account a:before {
  font-size: 28px;
}

.Footer.Footer--global .Footer-accounts-account--github a:before {
  content: '\f09b';
}

.Footer.Footer--global .Footer-accounts-account--twitter a:before {
  content: '\f099';
}
