{% extends "TeapotioSiteBundle:partial:base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--topicList{% endblock %}

{% block Partial_content %}
  <h1 class="Title">{% trans %}List.of.topics{% endtrans %}</h1>
  {% include "TeapotioForumBundle:list:topic/list.html.twig"
    with {
      topics: topics,
      messages_per_page:
      messages_per_page,
      current_board: current_board
    }
  %}
{% endblock %}

{% block pagination_top %}
  {% include "TeapotioSiteBundle:component:pagination/base.html.twig" with {collection: topics, typeName: 'topics'|trans, containerClass: 'ajax', linkClass: 'to-main' } %}
{% endblock %}

{% block pagination_bottom %}
  {% include "TeapotioSiteBundle:component:pagination/base.html.twig" with {collection: topics, typeName: 'topics'|trans, containerClass: 'ajax', linkClass: 'to-main' } %}
{% endblock %}
