{% extends "TeapotioSiteBundle:Layout:partial/base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--forumUserLogin{% endblock %}

{% block Partial_content %}
  <form action="{{ path('TeapotioBaseUserBundle_login_check') }}" method="post">

    <h2>{% trans %}Login.message{% endtrans %}</h2>

    {% if login_error %}
      {% include "TeapotioSiteBundle:Prompt:error.html.twig" with {
        message: login_error.message
      } %}
    {% endif %}

    {% include "TeapotioUserBundle:Component:form/login.html.twig" with {last_username: last_username} %}
  </form>
{% endblock %}
