@import 'mcolor'

// User module with graph
.module-top-users
    .top-user
        overflow: auto
        & > *
            margin: 5px 10px 5px 0
        a, div
            float: left
            display: block
        & > div
            margin-left: 10px
            margin-right: 5px
            width: 20px
        .avatar
            margin-right: 5px
            width: 20px
            height: 20px
        .total-messages,
        .total-topics
            color: $font-color-secondary
            float: right
        div,
        .total-messages,
        .total-topics
            font-size: 10px

// User profile
.user-profile
    overflow: auto
    .user-module
        text-align: center
        float: right
        margin-left: 10px