{% extends "TeapotioSiteBundle:partial:base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--forgotPassword{% endblock %}

{% block Partial_content %}
  <div class="Partial--forgotPassword-form">
    {% if is_token_generated == true %}
      {% trans %}Token.sent{% endtrans %}
    {% endif %}

    <h2>{% trans %}Forgot.password?{% endtrans %}</h2>

    {% include "TeapotioSiteBundle:component:prompt/info.html.twig" with {
      message: 'Submit.your.information.and.you.will.receive.an.email.with.a.link'|trans
    } %}

    <form action="" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <button>{% trans %}Submit{% endtrans %}</button>
    </form>
  </div>
{% endblock %}
