{% extends "TeapotioSiteBundle:partial:base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--resetPasswordSuccessful{% endblock %}

{% block Partial_content %}
  <div class="Partial--resetPasswordSuccessful-content">
    {% trans %}Password.successfully.changed{% endtrans %}
  </div>
{% endblock %}
