{% extends "TeapotioSiteBundle:partial:base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--resetPassword{% endblock %}

{% block Partial_content %}
  <form class="Partial--resetPassword-form" action="" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <button>{% trans %}Submit{% endtrans %}</button>
  </form>
{% endblock %}
