nav.Breadcrumb,
nav.Breadcrumb ul,
nav.Breadcrumb ul li,
nav.Breadcrumb ul li a {
  display: block;
}

nav.Breadcrumb ul {
  list-style: none;
  overflow: auto;
}

nav.Breadcrumb ul li {
  float: left;
  margin-right: 5px;
}

nav.Breadcrumb ul li:last-child {
  margin-right: 0;
}
