.Navigation.Navigation--actions.Navigation--actionsInBoard .Navigation--actions-button {
  line-height: normal;
}

.Navigation.Navigation--actions .Navigation--actions-button--newTopic .Navigation--actions-button-icon:before {
  content: '\f040';
}

.Navigation.Navigation--actions .Navigation--actions-button--newBoard .Navigation--actions-button-icon:before {
  content: '\f067';
}

.Navigation.Navigation--actions .Navigation--actions-button--editBoard .Navigation--actions-button-icon:before {
  content: '\f013';
}
