<ul class="BoardMenu">
  {% for board in boards %}
    <li class="BoardMenu-item">
      <a class="BoardMenu-item-link" href="{{ forum_path('ForumListTopicsByBoard', board) }}">
        {{ board.title }}
      </a>
      {% if board.children.count != 0 %}
        {% include "TeapotioForumBundle:component:board/menu.html.twig" with {boards: board.children} %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
