{% if prefix is defined %}
  <p>{{ prefix }}</p>
{% endif %}
<h4>{% trans %}Short.reminder{% endtrans %}</h4>
<ul>
  <li>{% trans %}Be.respectful.towards.others{% endtrans %}</li>
  <li>{% trans %}Personal.attack.racism.discrimination.profanity.and.impersonation.are.strictly.prohibited{% endtrans %}</li>
  <li>{% trans %}Spamming.and.trolling.are.prohibited{% endtrans %}</li>
</ul>
{% if suffix is defined %}
  <p>{{ suffix }}</p>
{% endif %}