{% set total = 20 %}
{% set user_stats = get_top_forum_users(total) %}
{% set maxPosts = user_stats[0].totalMessage %}

{% if user_stats.count != 0 %}
  {% for stat in user_stats %}
    <div class="top-user">
      {% include "TeapotioForumBundle:Modules:statLabels.html.twig" with {total_topics: stat.shortTotalTopic, total_messages: stat.shortTotalMessage, nowrap: true} %}

      <div>{{ loop.index }}.</div>

      {% include "TeapotioUserBundle:Modules:avatar.html.twig" with {class: "", imageClass: "", user: stat.user, size: 20} %}

      <a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: stat.user.slug, userId: stat.user.id}) }}" class="to-main">
        {{ stat.user.username }}
      </a>
    </div>
  {% endfor %}
{% endif %}