.Breadcrumb,
.Breadcrumb ul,
.Breadcrumb ul li {
  display: block;
}

.Breadcrumb ul li a {
  display: inline-block;
}

.Breadcrumb ul {
  list-style: none;
  overflow: auto;
}

.Breadcrumb ul li {
  display: inline-block;
  margin-right: 5px;
}

.Breadcrumb ul li:nth-child(n+2) {
  font-size: 0.9em;
}

.Breadcrumb ul li:nth-child(n+3) {
  font-size: 0.8em;
}

.Breadcrumb ul li:nth-child(n+4) {
  font-size: 0.7em;
}

.Breadcrumb ul li:last-child {
  margin-right: 0;
}

.Breadcrumb ul li:after {
  content: ' >';
}

.Breadcrumb ul li:last-child:after {
  content: '';
}
