.EntityTopic.EntityTopic--individual .EntityTopic-actions {
  float: right;
  line-height: 30px;
}

.EntityTopic.EntityTopic--individual .EntityTopic-actions a {
  display: inline-block;
  margin-left: 25px;
}

.EntityTopic.EntityTopic--individual .EntityTopicRow-actions-delete:before {
  content: '\f014';
}

@media (max-width: 700px) {
  .EntityTopic.EntityTopic--individual .EntityTopic-actions {
    float: none;
    text-align: right;
  }
}
