body {
  background-color: #fbfbfb;
  color: #242424;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color: #343434;
  outline: 0;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
     -moz-transition: color 300ms ease;
       -o-transition: color 300ms ease;
          transition: color 300ms ease;
}

.is-active,
body a:hover,
body a:active,
body a:focus {
  color: #fe6c5f;
}

textarea,
input[type='text'],
input[type='email'],
input[type='password'],
div[contenteditable='true'] {
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 10px;
  position: relative;
  width: 100%;
  -webkit-transition: border 500ms ease;
     -moz-transition: border 500ms ease;
       -o-transition: border 500ms ease;
          transition: border 500ms ease;
}

div[contenteditable='true'] {
  min-height:20px;
  width: auto;
}

textarea:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
div[contenteditable='true']:focus {
  border-color: #5d9cfb;
}

textarea[required='required']:focus,
input[type='text'][required='required']:focus,
input[type='email'][required='required']:focus,
input[type='password'][required='required']:focus,
div[contenteditable='true'][required='required']:focus {
  border-color: #fe6c5f;
}

label {
  display: block;
  margin: 15px 0 5px;
}

input[type="radio"],
input[type="radio"] + label,
input[type="checkbox"],
input[type="checkbox"] + label {
  display: inline-block;
  margin-right: 14px;
  vertical-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 4px;
}

div + button {
  margin-top: 15px;
}

button {
  background-color: #5d9cfb;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 8px 16px;
}

button:hover {
  background-color: #4b7ecd;
}

::-webkit-input-placeholder {
  font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 16px;
}

:-ms-input-placeholder {
  font-size: 16px;
}

/* From https://github.com/http-teapot/typography */
/*
 * BODY
 */
body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

/*
 * LINK
 */
a {
  color: #366fd1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 * TITLE
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  margin: 30px 0 10px;
}


h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin: 10px 0;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

/*
 * PARAGRAPH, BLOCKQUOTE, PRE, LIST
 */
blockquote,
blockquote cite,
ol,
p,
pre,
ul {
  margin: 10px 0;
}

/*
 * BLOCKQUOTE
 */
blockquote {
  border-left: 4px solid #bbb;
  padding: 1px 14px;
}

blockquote cite {
  display: block;
}

blockquote cite:before {
  content: '— ';
}

/*
 * LIST
 */
ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

ul {
  list-style: disc;
  padding: 0 0 0 26px;
}

ol {
  list-style: decimal;
}

ol ul,
ul ul {
  padding: 0 0 0 18px;
}

ul ol,
ol ol {
  padding: 0 0 0 34px;
}

ul li,
ol li {
  margin: 5px 0;
}
