{% extends "TeapotioSiteBundle:Header:base.html.twig" %}

{% block Header_class %}{{ parent() }} Header--global{% endblock %}

{% block Header_content %}
  <div class="Header-hamburger"></div>
  <h1>teapot<span>io</span></h1>

  <div class="Header-navigation">
    {% include "TeapotioForumBundle:Navigation:actions.html.twig" with {board: board, user: user} %}
    {% include "TeapotioForumBundle:Navigation:moderator.html.twig" with {user: user} %}

    {% if user != null %}
      {% include "TeapotioUserBundle:Navigation:user.html.twig" with {user: user} %}
    {% endif %}
  </div>
{% endblock %}
