.Message.Message--individual {
  margin-bottom: 20px;
}

.Message.Message--individual .Prompt {
  margin-bottom: 15px;
  position: relative;
}

.Message.Message--individual .Prompt:before {
  border: 10px solid transparent;
  border-top-color: #000;
  bottom: -20px;
  content: ' ';
  height: 0;
  left: 45px;
  position: absolute;
  width: 0;
}

.Message.Message--individual .Prompt.Prompt--error:before {
  border-top-color: #cd313c;
}

.Message.Message--individual .Message-body {
  margin-bottom: 15px;
}
