{#
  Variable required:
    - user
#}

{% extends "TeapotioSiteBundle:component:navigation/global.html.twig" %}

{% block Navigation_class %}{{ parent() }} is-rightAligned Navigation--user{% endblock %}

{% block Navigation_button_content %}
  {% if user %}
    {% include "TeapotioUserBundle:component:avatar.html.twig" with {
      class: "Navigation-icon",
      is_link: false,
      user: user,
      size: 40
    } %}
  {% endif %}
{% endblock %}

{% block Navigation_list_content %}
  <li>
    <a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: user.slug, userId: user.id }) }}"
       class="Navigation--user-button Navigation--user-button--profile">
      <div class="Navigation--actions-button-icon"></div>
      <div class="Navigation--actions-button-name">{% trans %}View.profile{% endtrans %}</div>
    </a>
  </li>

  <li>
    <a href="{{ path('TeapotioBaseUserBundle_settings', {userSlug: user.slug, userId: user.id}) }}"
       class="Navigation--user-button Navigation--user-button--settings">
      <div class="Navigation--actions-button-icon"></div>
      <div class="Navigation--actions-button-name">{% trans %}Settings{% endtrans %}</div>
    </a>
  </li>

  <li>
    <a href="{{ path('TeapotioBaseUserBundle_logout') }}"
       class="Navigation--user-button Navigation--user-button--logout">
      <div class="Navigation--actions-button-icon"></div>
      <div class="Navigation--actions-button-name">{% trans %}Logout{% endtrans %}</div>
    </a>
  </li>
{% endblock %}
