{#
  Requires variables:
    - message

  Optional variables:
    - count
#}

{% if is_message_starred(message) %}
    {% set path = forum_path('ForumMessageUnstar', message)  %}
    {% set icon_class_active = 'icon-heart' %}
    {% set icon_class_unactive = 'icon-heart-empty' %}
{% else %}
    {% set path = forum_path('ForumMessageStar', message)  %}
    {% set icon_class_active = 'icon-heart-empty' %}
    {% set icon_class_unactive = 'icon-heart' %}
{% endif %}

{% spaceless %}
  <div class="message-heart">
    <a href="{{ path }}" class="btn-like btn-toggle" data-toggle="true" data-toggle-label="">
      <i class="{{ icon_class_active }}" data-toggle-class="{{ icon_class_unactive }}"></i>
    </a>
    {% if count is defined and count != 0 %}{{ count }}{% endif %}
  </div>
{% endspaceless %}
