html, body {
  height: 100%;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }

body {
  text-align: center;
  color: white;
  background-color: #375d81; }

table {
  width: 100%; }
