.topic-row {
  position: relative;
  color: black;
  position: relative;
  padding: 5px; }
  .topic-row .topic-author {
    position: absolute;
    top: 5px;
    left: 5px; }
  .topic-row .response-author {
    position: absolute;
    top: 5px;
    right: 5px; }
  .topic-row .avatar {
    width: 40px;
    height: 40px; }
  .topic-row .topic-last-page {
    display: block;
    float: right;
    font-size: 18px;
    margin: 10px 0 10px 10px;
    line-height: 18px; }
  .topic-row .topic-row-content {
    margin: 0 50px; }
    .topic-row .topic-row-content a:visited {
      color: #333333; }
    .topic-row .topic-row-content .topic {
      display: block;
      overflow: auto;
      font-size: 14px;
      line-height: 22px; }
      .topic-row .topic-row-content .topic:visited {
        color: #333333; }
    .topic-row .topic-row-content .topic-info {
      font-size: 10px;
      line-height: 12px;
      margin: 4px 0;
      color: #bbbbbb; }
      .topic-row .topic-row-content .topic-info a {
        color: darkgrey; }
    .topic-row .topic-row-content .topic-icons {
      margin: 0 10px 0 0;
      padding: 5px 8px;
      float: left;
      background-color: #bd362f;
      color: white;
      text-align: center;
      font-size: 14px;
      line-height: 14px; }
      .topic-row .topic-row-content .topic-icons i + i {
        display: block;
        margin: 2px 0 0; }
  .topic-row.board-childless {
    padding: 5px; }
    .topic-row.board-childless .topic-last-page {
      font-size: 18px;
      margin: 0 0 0 10px;
      line-height: 30px; }
    .topic-row.board-childless .topic-row-content {
      margin: 0 35px; }
      .topic-row.board-childless .topic-row-content .topic-icons {
        padding: 3px 5px;
        font-size: 16px;
        line-height: 20px; }
        .topic-row.board-childless .topic-row-content .topic-icons i {
          display: inline-block; }
      .topic-row.board-childless .topic-row-content .topic {
        padding: 3px 0 2px; }
    .topic-row.board-childless .topic-info {
      display: none; }
    .topic-row.board-childless .avatar {
      width: 25px;
      height: 25px; }
    .topic-row.board-childless .topic-author {
      top: 5px;
      left: 5px; }
    .topic-row.board-childless .response-author {
      top: 5px;
      right: 5px; }
  .topic-row:hover .topic-row-content .topic-info {
    color: #161616; }
    .topic-row:hover .topic-row-content .topic-info a {
      color: #161616; }

.form-new-topic {
  padding: 10px; }
  .form-new-topic .control-group label.control-label {
    width: 14%; }
  .form-new-topic .control-group div.controls {
    width: 80%; }
  .form-new-topic textarea {
    height: 300px; }
