.user-profile {
  text-align: center; }
  .user-profile .avatar {
    margin: 0 auto;
    width: 150px;
    height: 150px; }

.user-topics {
  padding: 10px 0; }
  .user-topics h1, .user-topics h2, .user-topics h3, .user-topics h4, .user-topics h5, .user-topics h6 {
    padding: 0 10px; }
