body {
  padding-top: 56px;
}

body .Wrapper {
  background-color: #fbfbfb;
}

body .Wrapper,
body .Header.Header--global {
  padding: 0 15%;
  width: 70%;
}

body .Wrapper .Breadcrumb,
body .Wrapper .Navigation.Navigation--global.Navigation--actions {
  margin: 0 15%;
}

@media (max-width: 1200px) {
  body .Wrapper,
  body .Header.Header--global {
    padding: 0 7%;
    width: 86%;
  }

  body .Wrapper .Breadcrumb,
  body .Wrapper .Navigation.Navigation--global.Navigation--actions {
    margin: 0 7%;
  }
}

@media (max-width: 900px) {
  body .Wrapper {
    padding: 0 2%;
    width: 96%;
  }
  body .Header.Header--global {
    padding: 0 1%;
    width: 98%;
  }

  body .Wrapper .Breadcrumb,
  body .Wrapper .Navigation.Navigation--global.Navigation--actions {
    margin: 0;
  }
}
