{% if current_board is not defined %}
  {% set current_board = null %}
{% endif %}

{% if current_topic is not defined %}
  {% set current_topic = null %}
{% endif %}

{% block boards %}

{% endblock %}

<div class="nav-action">
  <div class="nav-action-btn-grp">

    {% if app.user is not null %}
      {% include "TeapotioBaseUserBundle:Modules:nav.html.twig" with {user: app.user} %}
    {% endif %}

    {% include "TeapotioBaseForumBundle:Modules:nav_actions.html.twig" with {user: app.user, board: current_board} %}

  </div>

  {% if app.user|can_search == true %}
    <div class="search">
      <label>
        <i class="icon-search"></i>
        <input type="text" placeholder="{% trans %}Search{% endtrans %}" />
      </label>
    </div>
  {% endif %}
</div>

{% if info_notices is defined and info_notices is not empty %}
  <div class="admin-notice alert special info">
    <i class="icon-info-sign"></i>
    {% if info_notice_links is defined %}
      <div class="actions">
        {% for link in info_notice_links %}
          <a href="{{ link.path }}">{{ link.label }}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% for msg in info_notices %}
      {{ msg }}
    {% endfor %}
  </div>
{% endif %}

<div class="content{% block content_wrapper_class %}{% endblock %}">
  <div class="content-info content-info-top">
    {% block pagination_up %}

    {% endblock %}

    <div class="pull-right">
      {% block tools_up %}
      {% endblock %}
    </div>
    <div class="breadcrumb">
      {% block breadcrumbs_up %}

        {% include "TeapotioForumBundle:Board:modules/breadcrumb.html.twig" with {board: current_board, showRoot: true, topic: current_topic} %}

      {% endblock %}
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <div class="content-info content-info-bottom">
    {% block pagination_bottom %}
    {% endblock %}

    <div class="pull-right">
      {% block tools_bottom %}
      {% endblock %}
    </div>
    <div class="breadcrumb">
      {% block breadcrumbs_bottom %}

        {% include "TeapotioForumBundle:Board:modules/breadcrumb.html.twig" with {board: current_board, showRoot: true, topic: current_topic} %}

      {% endblock %}
    </div>
  </div>
</div>

{% block footer %}
{% endblock %}