.Wrapper > * {
  padding: 0 15px;
  margin: 0;
}

.Wrapper .Partial {
  margin: 10px 0;
}

.Wrapper .Wrapper-notice {
  padding: 0;
}

.Wrapper .Wrapper-navigation {
  background-color: #333;
  overflow: auto;
}

.Wrapper .Wrapper-navigation,
.Wrapper .Wrapper-navigation a {
  color: #efefef;
  -webkit-transition: color 500ms ease;
     -moz-transition: color 500ms ease;
       -o-transition: color 500ms ease;
          transition: color 500ms ease;
}

.Wrapper .Wrapper-navigation a:hover {
  color: #fe6c5f;
}

.Wrapper .Wrapper-navigation nav li {
  font-size: 16px;
  line-height: 44px;
}

.Wrapper .Wrapper-navigation .Pagination {
  float: right;
}

.Wrapper .Wrapper-navigation .Breadcrumb {
  float: left;
}

.Wrapper .Wrapper-navigation .Breadcrumb li {
  margin-right: 10px;
  padding-right: 25px;
  position: relative;
  z-index: 1;
}

.Wrapper .Wrapper-navigation nav.Breadcrumb li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.Wrapper .Wrapper-navigation .Breadcrumb li:after,
.Wrapper .Wrapper-navigation .Breadcrumb li:before {
  border: 10px solid transparent;
  border-right: 0;
  content: ' ';
  bottom: 12px;
  height: 0;
  position: absolute;
  width: 0;
}

.Wrapper .Wrapper-navigation .Breadcrumb li:before {
  border-left-color: #777;
  right: 2px;
  z-index: -2;
}

.Wrapper .Wrapper-navigation .Breadcrumb li:after {
  border-left-color: #333;
  right: 4px;
  z-index: -1;
}

.Wrapper .Wrapper-navigation .Breadcrumb li:last-child:after,
.Wrapper .Wrapper-navigation .Breadcrumb li:last-child:before {
  display: none;
}

@media (max-width: 700px) {
  .Wrapper .Wrapper-navigation {
    padding-top: 10px;
  }

  .Wrapper .Wrapper-navigation nav:last-child {
    padding-bottom: 10px;
  }

  .Wrapper .Wrapper-navigation nav li {
    font-size: 12px;
    line-height: 20px;
  }

  .Wrapper .Wrapper-navigation .Breadcrumb li {
    margin-right: 6px;
    padding-right: 17px;
  }

  .Wrapper .Wrapper-navigation .Breadcrumb li:after,
  .Wrapper .Wrapper-navigation .Breadcrumb li:before {
    border-width: 6px;
    bottom: 4px;
  }
}
