{% extends "TeapotioSiteBundle:Layout:wrapper/settings.html.twig" %}

{% block Wrapper_class %}{{ parent() }} Wrapper--settings{% endblock %}

{% block content %}
  <div class="{% block Partial_class %}Partial Partial--settings{% endblock %}">
    {% block Partial_content %}{% endblock %}
  </div>
{% endblock %}
