<tr class="{{ identity }}">
  <td>
    <div style="margin-left: {{ level * 25 }}px;">
      <span>{{ board.title }}</span>
      {% if board.children.count != 0 %}
        <a href="#" class="font-xsmall btn-children-inherit" data-target="permission-row-{{ board.id }}">Apply to children</a>
      {% endif %}
    </div>
  </td>
  {% include "TeapotioForumBundle:component:board/permissions/columnPermission.html.twig" with {name: name, board: board, group: group} %}
</tr>

{# {% for i in 0..level %}-{% endfor %} #}
{% if board.children.count != 0 %}
  {% set identity = identity ~ ' permission-row-' ~ board.id %}
  {% set level = level + 1 %}
  {% for b in board.children %}
    {% include "TeapotioForumBundle:component:board/permissions/rowBoard.html.twig" with {board: b, level: level, identity: identity} %}
  {% endfor %}
{% endif %}
