{% extends "TeapotioSiteBundle:component:prompt/info.html.twig" %}

{% block Prompt_class %}{{ parent() }} Prompt--topicFormDuplicate{% endblock %}

{% block Prompt_title %}<h4 class="Prompt-title">{{ title }}</h4>{% endblock %}

{% block Prompt_content %}
  <ul class="Prompt-topics">
    {% for topic in topics %}
      <li><a href="{{ forum_path('ForumListMessagesByTopic', topic) }}">{{ topic.title}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
