{% extends "TeapotioForumBundle:Layout:content_wrapper.html.twig" %}

{% block content_wrapper_class %} account-forgot-password{% endblock %}

{% block content %}

  {% if is_token_generated == true %}
    {% trans %}Token.sent{% endtrans %}
  {% endif %}
  <form action="" method="post" class="two-col" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <button class="btn btn-success">{% trans %}Submit{% endtrans %}</button>
  </form>

{% endblock %}