{% extends "TeapotioForumBundle:Layout:content_wrapper.html.twig" %}

{% block content_wrapper_class %} account-reset-password{% endblock %}

{% block content %}
  <form action="" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <button>{% trans %}Submit{% endtrans %}</button>
  </form>
{% endblock %}