.Date {
  position: relative;
}

.Date .Date-created {
  display: none;
}

.Date:hover .Date-created {
  display: inline-block;
}

.Date .Date-createdTimeSince {
  display: inline-block;
}

.Date:hover .Date-createdTimeSince {
  display: none;
}
