<option value="{{ board.id }}">{% if level != 0 %}{% for i in 1..level %}--{% endfor %}{% endif %} {{ board.title }}{# - {{ board.shortTotalTopics }} - {{ board.shortTotalPosts }#}</option>
{% if board.children.count != 0 %}
  {% set level = level + 1 %}
  {% for b in board.children %}
    {% include "TeapotioForumBundle:component:board/selectOption.html.twig" with {board: b, level: level} %}
  {% endfor %}
{% endif %}
