<div>
  <label for="username">Username:</label>
  <input type="text" id="username" name="_username" value="{{ last_username }}" />
</div>

<div>
  <label for="password">Password:</label>
  <input type="password" id="password" name="_password" />
</div>

<button type="submit" class="btn btn-success">{% trans %}Login{% endtrans %}</button>
