{% extends "TeapotioSiteBundle:Layout:partial/base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--forumFlagList{% endblock %}

{% block Partial_content %}
  <h2>{% trans %}List.of.flags{% endtrans %}</h2>
  {% include "TeapotioForumBundle:Flag:component/list.html.twig" with {flags: flags} %}
{% endblock %}

{% block pagination_top %}
  {% include "TeapotioSiteBundle:Pagination:base.html.twig" with {collection: flags, typeName: 'flags'|trans } %}
{% endblock %}

{% block pagination_bottom %}
  {% include "TeapotioSiteBundle:Pagination:base.html.twig" with {collection: flags, typeName: 'flags'|trans } %}
{% endblock %}
