.btn-group {
  display: inline-block;
  overflow: auto;
  margin: 2px 4px; }
  .btn-group .btn {
    border-radius: 0px;
    border-width: 1px;
    display: block;
    float: left;
    margin: 0; }
  .btn-group .btn:first-child {
    border-left-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .btn-group .btn:last-child {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.btn-wrap {
  display: inline-block;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  color: #777777;
  background-color: #fafafa;
  border-color: #d1d1d1 #f1f1f1 #f1f1f1 #e1e1e1; }
  .btn-wrap .btn {
    display: block;
    margin: 0; }
  .btn-wrap.btn-dark {
    color: #dfdfdf;
    background-color: #212121;
    border-color: black #313131 #313131 #121212; }
  .btn-wrap.btn-danger {
    color: white;
    background-color: #bb0227;
    border-color: #750119 #e10534 #e10534 #8b011e; }
  .btn-wrap.btn-warning {
    color: white;
    background-color: #fa7a2d;
    border-color: #be5622 #faa14a #faa14a #d76225; }
  .btn-wrap.btn-info {
    color: white;
    background-color: #2768a1;
    border-color: #225788 #3486d3 #3486d3 #2867a1; }
  .btn-wrap.btn-primary {
    color: white;
    background-color: #3251be;
    border-color: #203889 #365ad7 #365ad7 #28429f; }
  .btn-wrap.btn-success {
    color: white;
    background-color: #049c00;
    border-color: #037600 #04aa01 #04aa01 #048a00; }

.btn {
  display: inline-block;
  background-color: #fafafa;
  color: #777777;
  padding: 5px 10px;
  margin: 2px 4px;
  text-decoration: none;
  color: #777777;
  background-color: #fafafa;
  border-color: #f1f1f1 #e1e1e1 #d1d1d1 #f1f1f1;
  font-size: 17px;
  line-height: 14px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid; }
  .btn:hover {
    text-decoration: none; }
  .btn.btn-xlarge {
    padding: 5px 12px;
    font-size: 25px;
    line-height: 22px; }
  .btn.btn-large {
    padding: 4px 11px;
    font-size: 21px;
    line-height: 18px; }
  .btn.btn-medium {
    padding: 3px 9px;
    font-size: 19px;
    line-height: 16px; }
  .btn.btn-small {
    padding: 3px 7px;
    font-size: 15px;
    line-height: 13px; }
  .btn.btn-xsmall {
    padding: 2px 4px 3px;
    font-size: 13px;
    line-height: 12px; }
  .btn.btn-dark {
    color: #dfdfdf;
    background-color: #212121;
    border-color: #313131 #121212 black #313131; }
    .btn.btn-dark:hover {
      background-color: #353535; }
  .btn.btn-danger {
    color: white;
    background-color: #bb0227;
    border-color: #e10534 #8b011e #750119 #e10534; }
    .btn.btn-danger:hover {
      background-color: #bb5254; }
  .btn.btn-warning {
    color: white;
    background-color: #fa7a2d;
    border-color: #faa14a #d76225 #be5622 #faa14a; }
    .btn.btn-warning:hover {
      background-color: #fa8957; }
  .btn.btn-info {
    color: white;
    background-color: #2768a1;
    border-color: #3486d3 #2867a1 #225788 #3486d3; }
    .btn.btn-info:hover {
      background-color: #2d79bb; }
  .btn.btn-primary {
    color: white;
    background-color: #3251be;
    border-color: #365ad7 #28429f #203889 #365ad7; }
    .btn.btn-primary:hover {
      background-color: #4f6abe; }
  .btn.btn-success {
    color: white;
    background-color: #049c00;
    border-color: #04aa01 #048a00 #037600 #04aa01; }
    .btn.btn-success:hover {
      background-color: #03b501; }
