form {
  font-size: 17px;
  line-height: 24px; }

input,
textarea,
label {
  font-size: 17px;
  padding: 4px; }

label {
  margin: 0 8px; }

input,
textarea {
  width: 250px;
  color: #777777;
  border-width: 1px;
  border-radius: 3px;
  border-color: #d1d1d1;
  border-style: solid; }

form .form-row {
  overflow: auto; }
  form .form-row label {
    text-align: right;
    float: left;
    width: 200px; }
  form .form-row.form-label-100px {
    width: 100px; }
  form .form-row.form-label-300px {
    width: 300px; }

.input-xlarge {
  font-size: 25px; }

.input-large {
  font-size: 21px; }

.input-medium {
  font-size: 19px; }

.input-default {
  font-size: 17px; }

.input-small {
  font-size: 15px; }

.input-xsmall {
  font-size: 13px; }

.form-xlarge input,
.form-xlarge textarea,
.form-xlarge select {
  font-size: 25px; }

.form-large input,
.form-large textarea,
.form-large select {
  font-size: 21px; }

.form-medium input,
.form-medium textarea,
.form-medium select {
  font-size: 19px; }

.form-default input,
.form-default textarea,
.form-default select {
  font-size: 17px; }

.form-small input,
.form-small textarea,
.form-small select {
  font-size: 15px; }

.form-xsmall input,
.form-xsmall textarea,
.form-xsmall select {
  font-size: 13px; }
