<form method="post" action="" name="{{ name }}" class="{{ name }}{% if class is defined %} {{ class }}{% endif %}">
  <table>
    {% for board in boards %}
      {% set level = 0 %}
      <tr>
        <th>{% trans %}Board{% endtrans %}</th>
        <th>{% trans %}Misc{% endtrans %}</th>
        <th colspan="3">{% trans %}Topic{% endtrans %}</th>
        <th colspan="3">{% trans %}Message{% endtrans %}</th>
        <th colspan="3">{% trans %}Board{% endtrans %}</th>
      </tr>
      {% include "TeapotioForumBundle:Board:modules/permissions/columnHeader.html.twig" %}
      {% include "TeapotioForumBundle:Board:modules/permissions/rowBoard.html.twig" with {board: board, level: level, identity: ""} %}
    {% endfor %}
  </table>

  <button type="submit" class="btn btn-success pull-right">{% trans %}Submit{% endtrans %}</button>
</form>