.List.List--Topic {
  border-spacing: 0;
  width: 100%;
}

.List.List--Topic .Avatar,
.List.List--Topic .TopicRow .TopicRow-author,
.List.List--Topic .TopicRow .TopicRow-responder {
  width: 26px;
}

.List.List--Topic .TopicRow .TopicRow-statsTotalStars,
.List.List--Topic .TopicRow .TopicRow-statsTotalPosts,
.List.List--Topic .TopicRow .TopicRow-statsTotalViews {
  width: 5%;
}

@media (max-width: 800px) {
  .List.List--Topic .TopicRow.TopicRow--individual .TopicRow-content .TopicRow-content-title {
    /*font-size: 14px;*/
  }

  .List.List--Topic .Avatar,
  .List.List--Topic .TopicRow .TopicRow-author,
  .List.List--Topic .TopicRow .TopicRow-responder {
    width: 30px;
  }

  .List.List--Topic .TopicRow.TopicRow--header {
    /*font-size: 12px;*/
  }

  .List.List--Topic .TopicRow.TopicRow--individual .TopicRow-statsTotalPosts,
  .List.List--Topic .TopicRow.TopicRow--individual .TopicRow-statsTotalViews {
    /*font-size: 18px;*/
  }
}

@media (max-width: 600px) {
  .List.List--Topic .TopicRow .TopicRow-actions,
  .List.List--Topic .TopicRow .TopicRow-statsTotalPosts,
  .List.List--Topic .TopicRow .TopicRow-statsTotalViews {
    display: none;
  }
}

@media (max-width: 500px) {
  .List.List--Topic .TopicRow .TopicRow-author,
  .List.List--Topic .TopicRow .TopicRow-responder {
    display: none;
  }
}

@media (max-width: 450px) {
  .List.List--Topic .TopicRow .TopicRow-content {
    padding-left: 0;
  }

  .List.List--Topic .TopicRow.TopicRow--individual .TopicRow-content .TopicRow-content-info {
    /*font-size: 10px;*/
  }
}
