<table class="List List--Topic">
  {% for topic in topics %}
    {% include "TeapotioForumBundle:component:topic/row/base.html.twig" with {topic: topic, messages_per_page: messages_per_page} %}
  {% endfor %}
</table>
