{# The body of a form should have the same template as a regular message #}
{% extends "TeapotioForumBundle:Message:entity/base.html.twig" %}

{#
  Required variables:
    - user
    - board
    - form
    - message (can be null)
#}

{% block Message_body %}
  {{ form_widget(form.body) }}

  <button>{% trans %}Create.topic{% endtrans %}</button>
{% endblock %}


{% block Message_footer_content %}
  {% if message is not null %}
    {% include "TeapotioForumBundle:Message:component/date.html.twig" with {message: message} %}
  {% endif %}
{% endblock %}
