{#
  Represents a flagged topic
  Required variables:
    - moderation
    - topic
#}
{% extends "TeapotioForumBundle:Moderation:entity/base.html.twig" %}

{% block Moderation_class %}{{ parent() }} Moderation--topic{% endblock %}

{% block Moderation_content %}
  <div class="Moderation-topic">
    <a href="{{ forum_path('ForumListMessagesByTopic', moderation.topic) }}" class="to-main">{{ moderation.topic.title }}</a>
  </div>
{% endblock %}
