<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="/css/themeteapotio_forum_base.css" rel="stylesheet" media="screen" />
    <link href="/css/themeteapotio_forum_security.css" rel="stylesheet" media="screen" />
    <link href="/css/themeteapotio_forum_profile.css" rel="stylesheet" media="screen" />
    <link href="/css/themeteapotio_forum_unik.css" rel="stylesheet" media="screen" />

    <link rel="shortcut icon" href="/bundles/teapotiosite/images/favicon.ico" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{% block page_title %}{% if page_title is defined %}{{ page_title }}{% endif %}{% endblock %}</title>
  </head>
  <body>
    <div class="Container">
      {% block container %}
      {% endblock %}
    </div>

    <script type="text/javascript" src="/js/themeteapotio_forum_unik.js"></script>
  </body>
</html>
