.Wrapper .Wrapper-notice {
  padding: 0;
}

.Wrapper .Pagination {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 700px) {
  .Wrapper .Wrapper-navigation {
    padding-top: 10px;
  }

  /*.Wrapper .Breadcrumb li {
    margin-right: 6px;
    padding-right: 17px;
  }

  .Wrapper .Breadcrumb li:after,
  .Wrapper .Breadcrumb li:before {
    border-width: 6px;
    bottom: 4px;
  }*/

  .Wrapper .Wrapper-navigation nav:last-child {
    padding-bottom: 10px;
  }

  .Wrapper .Wrapper-navigation nav li {
    font-size: 12px;
    line-height: 20px;
  }
}
