.Breadcrumb.Breadcrumb--board {

}


.Breadcrumb.Breadcrumb--board {
  font-size: 20px;
  left: 64px;
  position: fixed;
  top: 0;
  z-index: 100001;
}

/*.Breadcrumb.Breadcrumb--board li a {
}

.Breadcrumb.Breadcrumb--board li:first-child a {
  padding-left: 18px;
}*/

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item {
  margin: 0;
  position: relative;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item .Breadcrumb--board-item-link {
  line-height: 40px;
  padding: 9px 25px 7px 10px;
  position: relative;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item .Breadcrumb--board-item-link .fa {
  font-size: 12px;
  line-height: 40px;
  margin-left: 4px;
  vertical-align: top;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item .Breadcrumb--board-item-link:after {
  color: #ccc;
  content: '/';
  font-size: 36px;
  position: absolute;
  right: 0;
  top: 8px;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item:last-child .Breadcrumb--board-item-link:after {
  content: '';
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item-link-long {
  display: inline-block;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item-link-short {
  display: none;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item.Breadcrumb--board-item--home .Breadcrumb--board-item-link-short .fa.fa-home {
  font-size: 24px;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item .Breadcrumb--boardDropdown {
  display: none;
  font-size: 18px;
  margin-left: -10px;
  position: absolute;
  top: 100%;
  width: 550px;
}

.Breadcrumb.Breadcrumb--board .Breadcrumb--board-item:hover .Breadcrumb--boardDropdown {
  display: block;
}

@media (max-width: 900px) {
  .Breadcrumb.Breadcrumb--board {
    font-size: 16px;
  }

  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item-link-long {
    display: none;
  }

  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item .Breadcrumb--board-item-link .fa.fa-chevron-down {
    display: none;
  }

  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item-link-short,
  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item:last-child .Breadcrumb--board-item-link .fa.fa-chevron-down {
    display: inline-block;
  }

  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item .Breadcrumb--boardDropdown {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item {
    display: none;
  }

  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item:first-child,
  .Breadcrumb.Breadcrumb--board .Breadcrumb--board-item:last-child {
    display: block;
  }
}
