{% set class = '' %}
{#
  Params:
    - max_nesting: limit the number of nesting level
#}

{% if max_nesting is not defined %}
  {% set max_nesting = null %}
{% endif %}

{% if current_nesting is not defined %}
  {% set current_nesting = 0 %}
{% endif %}

{% if board.children.count == 0 %}
  {% if loop.index0 % 2 %}
    {% set class = class ~ ' is-even' %}
  {% else %}
    {% set class = class ~ ' is-uneven' %}
  {% endif %}
{% endif %}

{% if current_board is defined and current_board is not null and current_board.id == board.id %}
  {% set class = class ~ ' is-selected' %}
{% endif %}

{% if board.children.count != 0 %}
  {% set class = class ~ ' is-parent' %}
{% else %}
  {% set class = class ~ ' is-childless' %}
{% endif %}

<li class="ListItem ListItem--board {{ class }}">
  <div class="ListItem-details">
    <a href="{{ forum_path("ForumListTopicsByBoard", board) }}" class="ListItem-details-title">{{ board.title }}</a>

    {% if app.user|can_create_topic(board) %}
      <a href="{{ forum_path('ForumNewTopic', board) }}" class="ListItem-details-newTopic">
        <i class="fa fa-pencil"></i> {% trans %}New.topic{% endtrans %}
      </a>
    {% endif %}

    <div class="ListItem-details-stats">
      {% include "TeapotioForumBundle:component:statLabels.html.twig" with {total_topics: board.shortTotalTopics, total_messages: board.shortTotalPosts, nowrap: true} %}
    </div>
  </div>
  {% if board.children.count != 0 and (max_nesting is null or max_nesting != current_nesting) %}
    <ul class="ListItem-children">
      {% for b in board.children %}
        {% include "TeapotioForumBundle:list:board/listItem.html.twig" with {board: b, current_nesting: current_nesting + 1} %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
