body {
  padding: 20px 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

body .Wrapper {
  background-color: #fbfbfb;
}

body .Header.Header--global h1 {
  margin: 10px auto;
}

body .Sidebar {
  float: left;
  margin-top: 36px;
  width: 26%;
}

body .Container {
  margin-left: 32%;
  width: 68%;
}

body .Title,
body .Wrapper .Breadcrumb,
body .Sidebar .Sidebar-boards > .BoardMenu {
  font-size: 32px;
  line-height: 1.5;
}

body .Wrapper .Breadcrumb,
body .Sidebar .Sidebar-boards > .BoardMenu {
  opacity: 0.4;
  transition: opacity 0.3s;
}

body .Wrapper .Breadcrumb:hover,
body .Sidebar .Sidebar-boards:hover > .BoardMenu {
  opacity: 0.9;
}

body .Wrapper .Breadcrumb {
  font-size: 20px;
}

body .Title {
  margin: 6px 0;
}
