<table class="List List--Topic">
  <thead>
    {% include "TeapotioForumBundle:component:topic/row/header.html.twig" %}
  </thead>

  {% if pinned_topics is defined %}
    {% for topic in pinned_topics %}
      {% include "TeapotioForumBundle:component:topic/row/individual.html.twig" with {topic: topic, messages_per_page: messages_per_page, is_pinned: true} %}
    {% endfor %}
  {% endif %}

  {% for topic in topics %}
    {% if pinned_topic_ids is not defined or topic.id not in pinned_topic_ids %}
      {% include "TeapotioForumBundle:component:topic/row/individual.html.twig" with {topic: topic, messages_per_page: messages_per_page} %}
    {% endif %}
  {% endfor %}

  <tfoot>
    {% include "TeapotioForumBundle:component:topic/row/header.html.twig" %}
  </tfoot>

</table>
