{#
  Required variables:
    - user
#}

{% if show_action_buttons is not defined %}
  {% set show_action_buttons = true %}
{% endif %}

<div class="{% block Message_class %}EntityMessage{% endblock %}" id="{% block Message_id %}{% endblock %}">

  {% block Message_prefix %}{% endblock %}

  <div class="EntityMessage-sidebar">
    {% block Message_sidebar_content %}
      {% include "TeapotioUserBundle:component:avatar.html.twig" with {class: "", user: user, size: 100} %}
    {% endblock %}
  </div>

  <div class="EntityMessage-body">
    {% block Message_body %}
      {# The body of the message #}
    {% endblock %}
  </div>

  <div class="EntityMessage-footer">
    <div class="EntityMessage-footer-author">
      {% block Message_author_content %}
        <a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: user.slug, userId: user.id }) }}" class="to-main">{{ user.username }}</a>
      {% endblock %}
    </div>

    <div class="EntityMessage-footer-extra">
      {% block Message_extra_content %}
      {% endblock %}
    </div>
    {% block Message_footer_content %}{% endblock %}
  </div>

  {% block Message_suffix %}{% endblock %}
</div>
