.EntityMessage {
  overflow: auto;
  padding: 12px 0;
  position: relative;
}

.EntityMessage .EntityMessage-sidebar {
  float: left;
  text-align: center;
}

.EntityMessage .EntityMessage-sidebar .Avatar {
  border: 1px solid #eee;
  float: left;
  margin: 0 12px 12px 0;
  padding: 2px;
  width: 50px;
  -webkit-transition: border 500ms ease;
     -moz-transition: border 500ms ease;
       -o-transition: border 500ms ease;
          transition: border 500ms ease;
}

.EntityMessage .EntityMessage-sidebar .Avatar:hover {
  border-color: #fe6c5f;
}

.EntityMessage .EntityMessage-sidebar .EntityMessage-sidebar-extra {
  /*font-size: 12px;*/
}

.EntityMessage .EntityMessage-body,
.EntityMessage .EntityMessage-footer {
  margin-left: 68px;
}

.EntityMessage .EntityMessage-body {
  position: relative;
}

.EntityMessage .EntityMessage-body button {
  margin-top: 10px;
}

.EntityMessage .EntityMessage-footer {
  opacity: 0.6;
  text-align: right;
}

.EntityMessage .EntityMessage-footer > * {
  display: inline-block;
}

.EntityMessage .EntityMessage-footer a {
  margin-left: 15px;
}

.EntityMessage .EntityMessage-footer a:hover {
  text-decoration: none;
}

.EntityMessage .Prompt {
  margin-bottom: 6px;
}
