{% for message in messages %}
  {% include "TeapotioForumBundle:entity:message/individual.html.twig" with {message: message, user: message.user, flag: flags.get(message.id)} %}
{% endfor %}
{% if app.user|can_create_message(topic.board) == true %}
  <div class="list-message-form">
    {% include "TeapotioForumBundle:entity:message/new.html.twig" with {user: app.user, form: form, form_id: 'message-reply-to-topic'} %}
  </div>
{% endif %}
