.TopicRow.TopicRow--individual.is-deleted {
  opacity: 0.2;
}
.TopicRow.TopicRow--individual .TopicRow-content .TopicRow-content-board,
.TopicRow.TopicRow--individual .TopicRow-content .TopicRow-content-title {
  font-size: 16px;
  line-height: 24px;
}

.TopicRow.TopicRow--individual .TopicRow-content .TopicRow-content-board {
  background-color: #e56e6d;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 0 8px;
}

.TopicRow.TopicRow--individual .TopicRow-content .TopicRow-content-board a {
  color: #fff;
}

.TopicRow.TopicRow--individual .TopicRow-statsTotalPosts,
.TopicRow.TopicRow--individual .TopicRow-statsTotalViews {
  font-size: 20px;
}

.TopicRow.TopicRow--individual .TopicRow-actions .TopicRow-actions-delete:before {
  content: '\f05c';
  font-family: FontAwesome;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
