{% extends "TeapotioForumBundle:component:topic/row/base.html.twig" %}

{% block TopicRow_class %}{{ parent() }}
  TopicRow--individual
  {% if topic.isPinned == true or topic.isLocked == true %}
    TopicRow--moderated
  {% endif %}
{% endblock %}

{% block TopicRow_actions_content %}
  {% if app.user|can_delete(topic) == true %}
    <a href="{{ forum_path("ForumTopicDelete", topic) }}" class="TopicRow-actions-delete"></a>
  {% endif %}
{% endblock %}
