{#
  Variable required:
    - user
#}

{% extends "TeapotioSiteBundle:Navigation:global.html.twig" %}

{% block Navigation_class %}{{ parent() }} Navigation--moderator{% endblock %}

{% block Navigation_content %}
  {% spaceless %}
    {# Moderator zone #}
    {% if user|is_moderator %}
      <li>
        <a href="{{ forum_path("ForumFlagList") }}" class="Navigation--moderator-button Navigation--moderator-button--flagList">
          {% trans %}List.of.flags{% endtrans %}
        </a>
      </li>
      <li>
        <a href="{{ forum_path("ForumModerationList") }}" class="Navigation--moderator-button Navigation--moderator-button--moderationList">
          {% trans %}List.of.moderations{% endtrans %}
        </a>
      </li>
    {% endif %}
  {% endspaceless %}
{% endblock %}
