.Topic.Topic--individual .Topic-actions {
  float: right;
  line-height: 30px;
}

.Topic.Topic--individual .Topic-actions a {
  display: inline-block;
  margin-left: 25px;
}

.Topic.Topic--individual .TopicRow-actions-delete:before {
  content: '\f014';
}

@media (max-width: 700px) {
  .Topic.Topic--individual .Topic-actions {
    float: none;
    text-align: right;
  }
}
