{#
  Requires variables:
    - message

  Optional variables:
    - count
#}

{% if is_message_starred(message) %}
    {% set path = forum_path('ForumMessageUnstar', message)  %}
    {% set label_active = 'Untar'|trans %}
    {% set label_unactive = 'Star'|trans %}
    {% set icon_class_active = 'fa fa-heart' %}
    {% set icon_class_unactive = 'fa fa-heart' %}
{% else %}
    {% set path = forum_path('ForumMessageStar', message)  %}
    {% set label_active = 'Star'|trans %}
    {% set label_unactive = 'Unstar'|trans %}
    {% set icon_class_active = 'fa fa-heart' %}
    {% set icon_class_unactive = 'fa fa-heart' %}
{% endif %}

{% spaceless %}
  <div class="MessageButtonStar">
    <a href="{{ path }}" class="MessageButtonStar-button btn-toggle"
       data-toggle="true" data-toggle-label=" {#{ label_unactive }#}">
      <i class="{{ icon_class_active }}" data-toggle-class="{{ icon_class_unactive }}"></i>
      {#{ label_active }#}
    </a>
    <span class="MessageButtonStar-count">{% if count is defined and count != 0 %}{{ count }}{% endif %}
  </div>
{% endspaceless %}
