.Pagination ul li {
  display: inline-block;
}

.Pagination ul li a {
  display: block;
}

.Pagination ul li a,
.Pagination .Pagination-currentPage,
.Pagination .Pagination-total {
  padding: 0 4px;
}

.Pagination ul li a:first-child {
  margin-left: 0;
}

.Pagination .Pagination-total {
  font-size: 80%;
}

.Pagination .Pagination-space {
  opacity: 0.5;
}
