.Navigation.Navigation--global.Navigation--logout a:hover {
  color: #5AE844;
}

.Navigation.Navigation--global.Navigation--logout .Navigation-button:before {
  background-color: #5AE844;
  content: '\f007';
}

.Navigation.Navigation--global.Navigation--logout .Navigation-list {
  border-top-color: #5AE844;
}
