<div class="nav-profile module modal dark module-header wide">

    {% include "TeapotioUserBundle:Modules:avatar.html.twig" with {class: "dark", user: user, size: 50} %}

    <a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: user.slug, userId: user.id }) }}" class="username to-main">{{ user.username }}</a>

    <a href="{{ path('TeapotioBaseUserBundle_settings', {userSlug: user.slug, userId: user.id}) }}" class="btn-settings to-main">{% trans %}Settings{% endtrans %}</a>

    <a href="{{ path('TeapotioBaseUserBundle_logout') }}" class="btn-logout">{% trans %}Logout{% endtrans %}</a>

</div>