html, body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }

body {
  text-align: center;
  color: white;
  background-color: #013f35; }

table {
  width: 100%; }

pre {
  background-color: white;
  color: #4d4c54;
  padding: 15px; }

p {
  margin: 10px 0; }
