header.logo {
  float: left;
  margin: 0 10px; }
  header.logo h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 10px 10px 6px 0; }
    header.logo h1 span {
      color: #60a3d1; }
