.topic-row {
  position: relative;
  color: #4d4c54;
  position: relative;
  padding: 6px; }
  .topic-row .topic-author {
    position: absolute;
    top: 7px;
    left: 7px; }
  .topic-row .response-author {
    position: absolute;
    top: 7px;
    right: 7px; }
  .topic-row .avatar {
    width: 42px;
    height: 42px; }
  .topic-row .topic-last-page {
    display: block;
    float: right;
    font-size: 18px;
    margin: 13px 0 13px 12px;
    line-height: 18px; }
  .topic-row .topic-row-content {
    margin: 0 50px; }
    .topic-row .topic-row-content a:visited {
      color: #4d4c54; }
    .topic-row .topic-row-content .topic {
      display: block;
      overflow: auto;
      font-size: 14px;
      line-height: 22px; }
      .topic-row .topic-row-content .topic:visited {
        color: #333333; }
      .topic-row .topic-row-content .topic .topic-stats {
        float: right;
        font-size: 12px; }
        .topic-row .topic-row-content .topic .topic-stats i {
          font-size: 14px;
          margin-left: 8px; }
          .topic-row .topic-row-content .topic .topic-stats i:first-child {
            margin-left: 0; }
    .topic-row .topic-row-content .topic-info {
      font-size: 10px;
      line-height: 12px;
      margin: 5px 0;
      color: #aeaeae; }
      .topic-row .topic-row-content .topic-info a {
        color: #aeaeae; }
      .topic-row .topic-row-content .topic-info .date {
        float: right; }
      .topic-row .topic-row-content .topic-info .topic-breadcrumb > * {
        margin-right: 5px; }
    .topic-row .topic-row-content .topic-icons {
      margin: 0 6px 0 0;
      padding: 3px 5px 1px;
      float: left;
      background-color: #bd362f;
      color: white;
      text-align: center;
      font-size: 18px;
      line-height: 18px; }
      .topic-row .topic-row-content .topic-icons i + i {
        display: block;
        margin: 2px 0 0; }
  .topic-row.board-childless {
    padding: 5px 6px; }
    .topic-row.board-childless .topic-last-page {
      font-size: 18px;
      margin: 0 0 0 10px;
      line-height: 30px; }
    .topic-row.board-childless .topic-row-content {
      margin: 0 30px; }
      .topic-row.board-childless .topic-row-content .topic-icons {
        padding: 3px 8px;
        font-size: 16px;
        line-height: 20px; }
        .topic-row.board-childless .topic-row-content .topic-icons i {
          display: inline-block; }
      .topic-row.board-childless .topic-row-content .topic {
        padding: 2px 0; }
    .topic-row.board-childless .topic-info {
      display: none; }
    .topic-row.board-childless .avatar {
      width: 26px;
      height: 26px; }
    .topic-row.board-childless .topic-author {
      top: 5px;
      left: 5px; }
    .topic-row.board-childless .response-author {
      top: 5px;
      right: 5px; }
  .topic-row:hover .topic-row-content .topic-info {
    color: #4d4c54; }
    .topic-row:hover .topic-row-content .topic-info a {
      color: #4d4c54; }

.topic-header .topic-title input,
.topic-header .topic-title {
  margin: 0;
  font-size: 18px;
  line-height: 30px; }

.content.new-topic form, .content.edit-topic form {
  border-radius: 0;
  background-color: transparent; }
  .content.new-topic form > *, .content.edit-topic form > * {
    border-radius: 3px;
    background-color: #fdfdfb; }
  .content.new-topic form .topic-title input, .content.edit-topic form .topic-title input {
    padding: 4px 1%;
    width: 98%; }

@media (max-width: 595px) {
  .topic-row .topic-row-content .topic-stats {
    display: none; }
  .topic-row .topic-info .date {
    display: none; } }
@media (max-width: 595px) {
  .topic-header .topic-title input,
  .topic-header .topic-title {
    margin: 0;
    font-size: 15px;
    line-height: 24px; }

  .topic-row,
  .topic-row.board-childless {
    padding: 6px 10px; }
    .topic-row .topic-info,
    .topic-row .avatar,
    .topic-row.board-childless .topic-info,
    .topic-row.board-childless .avatar {
      display: none; }
    .topic-row .topic-row-content,
    .topic-row.board-childless .topic-row-content {
      margin: 0; } }
