.boards-concise-list li {
  list-style-type: none;
  list-style-position: inside; }
.boards-concise-list .csrow {
  line-height: 16px;
  font-size: 13px; }
  .boards-concise-list .csrow .csrow {
    padding-right: 0; }
.boards-concise-list .cslvl0 {
  font-size: 14px; }
.boards-concise-list ul {
  padding: 5px 0 5px 5px; }

.form-new-board {
  padding: 10px; }
  .form-new-board .control-group label.control-label {
    width: 18%; }
  .form-new-board .control-group div.controls {
    width: 76%; }

.board-settings table td + td,
.board-settings table th + th {
  text-align: center; }
.board-settings table td:first-child {
  font-weight: bold; }
.board-settings .alert {
  margin-bottom: 8px; }
.board-settings > * {
  overflow: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 12px; }
