.module.round {
  padding: 10px; }
.module.list li {
  padding: 8px 15px; }

.module.modal.module-header,
.module.list.dark .module-header {
  position: relative;
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
  background-color: #2b2b2b; }
  .module.modal.module-header .module-header-title,
  .module.list.dark .module-header .module-header-title {
    margin-left: 35px; }
  .module.modal.module-header div.icon,
  .module.list.dark .module-header div.icon {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 25px;
    margin-right: 6px; }

.one-column .nav .module.modal.module-header,
.one-column .nav .module.list.dark .module-header {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  line-height: 24px;
  padding: 4px 16px 4px 4px; }
  .one-column .nav .module.modal.module-header .module-header-title,
  .one-column .nav .module.list.dark .module-header .module-header-title {
    margin-left: 28px; }
  .one-column .nav .module.modal.module-header div.icon,
  .one-column .nav .module.list.dark .module-header div.icon {
    font-size: 16px; }
