.nav-action,
nav#nav-horizontal {
  overflow: auto;
  border-radius: 3px;
  border-radius: 3px;
  background-color: #fdfdfb;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.35); }
  .nav-action a,
  nav#nav-horizontal a {
    color: white;
    line-height: 17px; }
    .nav-action a:hover,
    nav#nav-horizontal a:hover {
      text-decoration: none; }
    .nav-action a i,
    nav#nav-horizontal a i {
      font-size: 14px; }
  .nav-action ul,
  nav#nav-horizontal ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .nav-action li,
  nav#nav-horizontal li {
    margin: 6px 10px;
    display: inline-block; }

.nav-action .search input,
.nav-action .search input:hover,
.nav-action .search input:focus,
.nav-action .search input:active {
  border: 0;
  outline: 0;
  outline-offset: 0;
  background: transparent;
  -webkit-appearance: none;
  width: 190px;
  padding: 0 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 15px; }
  .nav-action .search input:focus,
  .nav-action .search input:hover:focus,
  .nav-action .search input:focus:focus,
  .nav-action .search input:active:focus {
    border: none; }
.nav-action .search input::-webkit-input-placeholder {
  color: #efefef; }
.nav-action .search input:-moz-placeholder {
  color: #efefef; }
.nav-action .search input::-moz-placeholder {
  color: #efefef; }
.nav-action .search input:-ms-input-placeholder {
  color: #efefef; }
.nav-action .search label {
  padding: 4px; }

.nav-profile .avatar {
  float: left;
  margin-right: 10px; }
.nav-profile .username {
  display: block; }
  .nav-profile .username:hover {
    text-decoration: none; }
.nav-profile .btn-logout, .nav-profile .btn-settings {
  font-size: 12px;
  line-height: 14px;
  color: #cdcdcd; }

.one-column .nav-action .search label {
  border-top-color: #333333; }
.one-column .nav-profile.module {
  float: right; }
  .one-column .nav-profile.module .avatar {
    display: none; }
  .one-column .nav-profile.module .username, .one-column .nav-profile.module .btn-settings, .one-column .nav-profile.module .btn-logout {
    display: block;
    float: left;
    margin: 4px 4px;
    line-height: 16px; }
  .one-column .nav-profile.module .btn-settings, .one-column .nav-profile.module .btn-logout {
    font-size: 11px; }

.nav-auth {
  overflow: auto; }
  .nav-auth input {
    float: left;
    width: 29%;
    margin: 0 1% 5px 0; }
  .nav-auth button {
    padding: 10px 2%; }
  .nav-auth p {
    margin: 8px 0 0;
    font-size: 12px; }

.nav-user {
  float: right; }
  .nav-user li:nth-child(n+2) {
    font-size: 11px;
    margin-left: 0; }
    .nav-user li:nth-child(n+2) a {
      color: #aeaeae; }

#nav-components {
  display: none;
  margin: 0 0 10px; }
  #nav-components a.toggle-visibility,
  #nav-components a.collapse {
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.75); }
    #nav-components a.toggle-visibility:hover,
    #nav-components a.collapse:hover {
      text-decoration: none;
      color: white; }
    #nav-components a.toggle-visibility > *,
    #nav-components a.collapse > * {
      display: inline-block;
      margin: 0 8px; }
  #nav-components .footer {
    margin-top: 4px; }

#nav-list-boards {
  display: none;
  color: black; }
  #nav-list-boards a {
    display: block; }
  #nav-list-boards ul {
    display: none;
    overflow: auto;
    margin: 0 0 0 20px;
    padding: 0; }
  #nav-list-boards li {
    display: block;
    overflow: auto; }
    #nav-list-boards li > div {
      border-radius: 3px;
      background-color: #fdfdfb;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 10px;
      margin: 0 0 1px; }
      #nav-list-boards li > div .info {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
        border-radius: 3px;
        background-color: #fdfdfb; }
      #nav-list-boards li > div:hover .new-topic {
        display: block; }
      #nav-list-boards li > div:hover .new-board,
      #nav-list-boards li > div:hover .new-topic,
      #nav-list-boards li > div:hover .total-topics,
      #nav-list-boards li > div:hover .total-messages {
        color: black; }
    #nav-list-boards li.childless-board-wrapper {
      float: left; }
  #nav-list-boards a.toggle-visibility,
  #nav-list-boards a.collapse {
    text-align: right;
    margin: 0 6px 3px 0; }
  #nav-list-boards .parent-board-wrapper {
    width: 100%; }
  #nav-list-boards a.expand {
    float: left;
    margin-right: 10px;
    color: #5f5f5f;
    text-decoration: none; }
    #nav-list-boards a.expand:hover {
      color: black; }
  #nav-list-boards .new-topic,
  #nav-list-boards .new-board {
    display: none;
    margin: 6px 0;
    font-size: 14px; }
  #nav-list-boards .total-topics,
  #nav-list-boards .total-messages {
    font-size: 10px; }
  #nav-list-boards a,
  #nav-list-boards .total-topics,
  #nav-list-boards .total-messages {
    margin: 6px 0; }
  #nav-list-boards .new-topic,
  #nav-list-boards .new-board,
  #nav-list-boards .total-topics,
  #nav-list-boards .total-messages {
    float: right;
    margin-left: 8px;
    color: #aeaeae; }
  #nav-list-boards .new-board {
    margin-left: 16px; }
  #nav-list-boards > ul {
    display: block;
    margin: 0; }
    #nav-list-boards > ul > li {
      margin: 0;
      padding: 0; }
      #nav-list-boards > ul > li > div {
        font-size: 14px; }

#nav-top-users {
  display: none;
  color: #4d4c54;
  overflow: auto;
  margin: 0; }
  #nav-top-users .top-user {
    border-radius: 3px;
    background-color: #fdfdfb;
    float: left;
    width: 49.9%;
    margin: 0 0 1px; }
    #nav-top-users .top-user:nth-child(even) {
      margin-left: 0.2%; }

#nav-latest-moderation,
#nav-latest-flags {
  display: none;
  color: #4d4c54;
  margin: 0 0 1px; }
  #nav-latest-moderation ul,
  #nav-latest-flags ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #nav-latest-moderation li,
  #nav-latest-flags li {
    border-radius: 3px;
    background-color: #fdfdfb;
    padding: 5px 10px;
    margin: 0 0 1px;
    overflow: auto;
    line-height: 24px; }
    #nav-latest-moderation li:first-child,
    #nav-latest-flags li:first-child {
      margin-top: 0; }
    #nav-latest-moderation li span.date,
    #nav-latest-flags li span.date {
      float: right;
      display: block;
      margin-left: 18px;
      font-size: 10px;
      color: darkgrey; }

@media (min-width: 696px) {
  div#nav-list-boards ul li.childless-board-wrapper {
    width: 33%;
    margin-left: 0.5%; }
    div#nav-list-boards ul li.childless-board-wrapper:nth-child(3n+1) {
      margin-left: 0; }
  div#nav-list-boards > ul > li.childless-board-wrapper {
    margin-left: 0 !important;
    float: none;
    width: 100%; } }
@media (max-width: 695px) {
  div#nav-list-boards ul li.childless-board-wrapper {
    width: 49.9%; }
    div#nav-list-boards ul li.childless-board-wrapper:nth-child(even) {
      margin-left: 0.2%; }
  div#nav-list-boards > ul > li.childless-board-wrapper {
    margin-left: 0 !important;
    float: none;
    width: 100%; } }
