.paginator {
  float: right; }
  .paginator div {
    color: #aeaeae;
    font-size: 10px; }
  .paginator a, .paginator span, .paginator div {
    margin: 0 0 0 10px;
    display: inline-block; }
    .paginator a:first-child, .paginator span:first-child, .paginator div:first-child {
      margin-left: 0; }
