.user-settings-avatar,
.user-settings-description,
.user-settings-customize {
  padding: 15px; }
  .user-settings-avatar h3, .user-settings-avatar h4,
  .user-settings-description h3,
  .user-settings-description h4,
  .user-settings-customize h3,
  .user-settings-customize h4 {
    margin: 10px 0; }

.description-settings input,
.description-settings textarea,
.avatar-settings input,
.avatar-settings textarea {
  margin: 0 1%;
  width: 96%; }

.avatar-settings .avatar-gallery img {
  margin: 4px;
  border: 2px solid transparent; }
  .avatar-settings .avatar-gallery img.default-avatar {
    border-color: red; }
