.non-authorized-content {
  overflow: auto;
  padding: 10px; }
  .non-authorized-content .security-login-form,
  .non-authorized-content .registration-signup-form {
    width: 49%;
    display: inline-block;
    vertical-align: top; }
  .non-authorized-content .security-login-form {
    margin-right: 2%; }
