<div class="StatLabels">
  <span class="StatLabels-topics"><i class="fa fa-quote-left"></i> {{ total_topics }}</span>
  <span class="StatLabels-messages"><i class="fa fa-comment"></i> {{ total_messages }}</span>
</div>
