<div class="TopUsers">
  {% for stat in user_stats %}
    <div class="TopUsers-user">
      {% include "TeapotioUserBundle:component:avatar.html.twig" with {class: "", imageClass: "", user: stat.user, size: 20} %}

      <a class="TopUsers-user-name" href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: stat.user.slug, userId: stat.user.id}) }}">
        {{ stat.user.username }}
      </a>

      <div class="TopUsers-user-stats">
        {% include "TeapotioForumBundle:component:statLabels.html.twig" with {total_topics: stat.shortTotalTopic, total_messages: stat.shortTotalMessage, nowrap: true} %}
      </div>
    </div>
  {% endfor %}
</div>
