{% extends "TeapotioBaseForumBundle:Layout:layout.html.twig" %}

{% block content %}
  <ul>
    {% for board in boards %}
      <li>
        <a href="{{ forum_path("ForumListTopicsByBoard", board) }}">
          {{ board.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}