{% extends "TeapotioSiteBundle:partial:base.html.twig" %}

{% block Partial_class %}{{ parent() }} Partial--flagList{% endblock %}

{% block Partial_content %}
  <h2>{% trans %}List.of.flags{% endtrans %}</h2>
  {% include "TeapotioForumBundle:list:flag/list.html.twig" with {flags: flags} %}
{% endblock %}

{% block pagination_top %}
  {% include "TeapotioSiteBundle:component:pagination/base.html.twig" with {collection: flags, typeName: 'flags'|trans } %}
{% endblock %}

{% block pagination_bottom %}
  {% include "TeapotioSiteBundle:component:pagination/base.html.twig" with {collection: flags, typeName: 'flags'|trans } %}
{% endblock %}
