.FlagComponentList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FlagComponentList > li {
  border-bottom: 1px solid #dadada;
  margin-bottom: 26px;
}

.FlagComponentList > li:last-child {
  border-bottom: 0;
}
