<div class="List List--message">
  {% for message in messages %}
    {% include "TeapotioForumBundle:entity:message/individual.html.twig" with {
      message: message,
      user: message.user,
      flag: flags.get(message.id)
    } %}
  {% endfor %}

  {% if app.user is null %}
    {% include "TeapotioSiteBundle:component:prompt/info.html.twig" with {
      'message': '%login%.or.%signup%.if.you.would.like.to.post'|trans({
        '%login%': '<a href="' ~ path('TeapotioBaseUserBundle_login') ~ '">' ~ 'Log in'|trans ~ '</a>',
        '%signup%': '<a href="' ~ path('TeapotioBaseUserBundle_signup') ~ '">' ~ 'Sign up'|trans ~ '</a>'
      }),
      'actions': [{
        'path': path('TeapotioBaseUserBundle_login'),
        'label': 'Log in'|trans
      }, {
        'path': path('TeapotioBaseUserBundle_signup'),
        'label': 'Sign up'|trans
      }]
    } %}
  {% endif %}

  {% if app.user|is_allowed('create', 'Message')[0] == false %}
    {% include "TeapotioSiteBundle:component:prompt/info.html.twig" with {
      message: app.user|is_allowed('create', 'Message')[1]
    } %}
  {% endif %}

  {% if form is not null %}
    <div class="List-form">
      {% include "TeapotioForumBundle:entity:message/new.html.twig" with {
        user: app.user,
        form: form,
        form_id: 'message-reply-to-topic'
      } %}
    </div>
  {% endif %}
</div>
