{% extends "TeapotioSiteBundle:wrapper:base.html.twig" %}

{% block content %}
  <div class="{% block Partial_class %}Partial{% endblock %}">
    {% block Partial_content %}{% endblock %}
  </div>
{% endblock %}
