.Header.Header--global {
}

.Header.Header--global > h1:before {
  background: url(/bundles/teapotiosite/images/teapotio_logo.png) no-repeat;
  background-size: contain;
  content: ' ';
  display: block;
  float: left;
  height: 64px;
  width: 64px;
}

.Header.Header--global > h1 {
  line-height: 64px;
  margin: 0;
  overflow: auto;
  padding: 6px 0;
  white-space: nowrap;
  width: 64px;
}

.Header.Header--global > h1 > span {
  color: #fe6c5f;
}
