{% extends "TeapotioBaseForumBundle:Layout:content_wrapper.html.twig" %}

{% block content %}
  <form action="" method="post" {{ form_enctype(form) }} class="form-new-board two-col">
    {{ form_errors(form) }}

    {% if current_board is null %}
      {% spaceless %}
        <div class="control-group">
          <label class="control-label required">{% trans %}Board{% endtrans %}</label>
          <div class="controls">
            {% set boards = get_boards() %}
            {% include "TeapotioForumBundle:Board:modules/select.html.twig" with {boards: boards, name: "board_id", class: "text-xlarge"} %}
          </div>
        </div>
      {% endspaceless %}
    {% endif %}

    {{ form_widget(form) }}

    <button class="btn btn-success">{% trans %}Create.board{% endtrans %}</button>
  </form>
{% endblock %}