<ul class="nav-user">
  <li>
    <a href="{{ path('TeapotioBaseUserBundle_profile', {userSlug: user.slug, userId: user.id}) }}" class="to-main">
      {{ user.username }}
    </a>
  </li>
  <li>
    <a href="{{ path('TeapotioBaseUserBundle_settings', {userSlug: user.slug, userId: user.id}) }}" class="to-main">
      {% trans %}settings{% endtrans %}
    </a>
  </li>
  <li>
    <a href="{{ path('TeapotioBaseUserBundle_logout') }}">
      {% trans %}logout{% endtrans %}
    </a>
  </li>
</ul>