.Wrapper--settings {

}

.Wrapper--settings h3 {
  margin: 40px 0 10px;
}

.Wrapper--settings > * > *:first-child h3 {
  margin-top: 0;
}

.Wrapper--settings table {
  text-align: center;
  width: 100%;
}

.Wrapper--settings .Prompt {
  margin-bottom: 10px;
}
