<tr>
  <td></td>
  <td>{% trans %}View{% endtrans %}</td>
  <td>{% trans %}Create{% endtrans %}</td>
  <td>{% trans %}Edit{% endtrans %}</td>
  <td>{% trans %}Delete{% endtrans %}</td>
  <td>{% trans %}Create{% endtrans %}</td>
  <td>{% trans %}Edit{% endtrans %}</td>
  <td>{% trans %}Delete{% endtrans %}</td>
  <td>{% trans %}Create{% endtrans %}</td>
  <td>{% trans %}Edit{% endtrans %}</td>
  <td>{% trans %}Delete{% endtrans %}</td>
</tr>