.TopicRow:nth-child(even) {
  background-color: #f4f4f4;
}

.TopicRow td {
  padding: 6px 10px;
}

.TopicRow .Avatar {
  margin: 0 auto;
}

.TopicRow .TopicRow-author,
.TopicRow .TopicRow-actions,
.TopicRow .TopicRow-statsTotalStars,
.TopicRow .TopicRow-statsTotalPosts,
.TopicRow .TopicRow-statsTotalViews,
.TopicRow .TopicRow-responder {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.TopicRow .TopicRow-timeSince {
  text-align: right;
}

.TopicRow .TopicRow-author {
  padding-right: 0;
}

.TopicRow .TopicRow-content .TopicRow-content-board {
  float: right;
}

.TopicRow.TopicRow--boardChildless .TopicRow-content .TopicRow-content-board {
  display: none;
}

.TopicRow .TopicRow-states {
  font-size: 22px;
  padding-right: 10px;
  text-align: right;
}


.TopicRow .TopicRow-states-pinned:before,
.TopicRow .TopicRow-states-locked:before {
  font-family: FontAwesome;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TopicRow .TopicRow-states-pinned:before {
  opacity: 0.5;
  content: '\f08d';
}

.TopicRow .TopicRow-states-locked:before {
  content: '\f023';
}

.TopicRow.is-pinned .TopicRow-states-pinned:before {
  opacity: 1;
}

.TopicRow.is-pinned .TopicRow-content-title .TopicRow-states-pinned {
  display: block;
  float: left;
  font-size: 24px;
  margin-right: 8px;
}

.TopicRow.is-pinned .TopicRow-content-body {
  color: #707070;
  margin-left: 25px;
}
