.Flag .Flag-header {
  margin-bottom: 10px;
  overflow: auto;
}

.Flag .Flag-header .Flag-header-date {
  float: right;
}

.Flag .Flag-header .Flag-header-intro {
  font-size: 18px;
}

.Flag .Flag-content {
  padding: 0 0 0 20px;
  opacity: 0.75;
  overflow: hidden;
  -webkit-transition: opacity 500ms ease;
     -moz-transition: opacity 500ms ease;
       -o-transition: opacity 500ms ease;
          transition: opacity 500ms ease;
}

.Flag:hover .Flag-content {
  opacity: 1;
}

.Flag .Flag-content .Message {
  margin-bottom: 25px;
}

.Flag .Flag-content .Topic .Topic-header h1 {
  margin: 0 0 10px;
}
