<aside class="Sidebar">
  {#<div class="Sidebar-user">
    {% spaceless %}
      {% if app.user != null %}
        {% include "TeapotioUserBundle:component:navigation/user.html.twig" with {user: app.user} %}
      {% else %}
        {% include "TeapotioUserBundle:component:navigation/logout.html.twig" %}
      {% endif %}

      {% if app.user|is_moderator %}
        {% include "TeapotioForumBundle:component:navigation/moderator.html.twig" with {user: app.user} %}
      {% endif %}
    {% endspaceless %}
  </div>#}
  <div class="Sidebar-boards">
    {% set boards = get_boards() %}
    {% include "TeapotioForumBundle:component:board/menu.html.twig" with {boards: boards} %}
  </div>
</aside>
